.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f2f2f2;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper .swiper-pagination {
  text-align: right;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  width: 56px;
  height: 48px;
  border-radius: 24px;
  background-color: #fff;
  bottom: 0;
}

.mySwiper .swiper-button-next {
  right: 60px;
}

.mySwiper .swiper-button-prev {
  left: auto;
  right: 130px;
}

.mySwiper .swiper-button-next::after,
.mySwiper .swiper-button-prev::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-image: url('/assets/icons/icon-arrow-right.svg');
  background-repeat: no-repeat;
  color: #dd2a00;
}

.mySwiper .swiper-button-prev::after {
  transform: rotate(180deg);
}

.mySwiper .swiper-pagination-fraction {
  bottom: auto;
  top: 50px;
  right: 200px;
  left: auto;
}
